
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  

  nav#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 1000;
  }
  
  #scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background-color: yellow;
    width: 0%;
    z-index: 1001;
  }
  
  nav#navbar ul {
    display: flex;
    list-style-type: none;
    padding: 1em;
    justify-content: center;
  }
  
  nav#navbar ul li {
    position: relative;
    margin: 0 1.5em;
  }
  
  nav#navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: color 0.3s ease;
  }
  
  nav#navbar ul li a.active {
    color: yellow;
  }
  
  nav#navbar ul li a:hover,
  .dropdown a:hover {
    color: yellow;
  }
  
 
  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #333;
    list-style: none;
  }
  
  .dropdown li {
    padding: 0.5em;
  }
  
  nav#navbar ul li:hover .dropdown {
    display: block;
  }
  
  .scrolled {
    background-color: #333;
  }
  
  /* Mobile Menu Toggle */
  .menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 2em;
    padding: 0.5em;
  }
  
  @media (max-width: 768px) {
    nav#navbar ul {
      flex-direction: column;
      display: none;
      background-color: #333;
      width: 100%;
      text-align: center;
    }
  
    nav#navbar ul li {
      margin: 0;
    }
  
    .menu-toggle {
      display: block;
      color: white;
      text-align: right;
      padding-right: 1em;
    }
  
    nav#navbar ul.show {
      display: flex;
    }
  }
  
 
  section {
    height: 100vh;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
  }
  
  #home { background-color: #1abc9c; }
  #about { background-color: #3498db; }
  #services { background-color: #9b59b6; }
  #contact { background-color: #e74c3c; }
  
